<?php
return array(
    'modules' => array(
        'Greenhouse',
    ),
    'module_listener_options' => array(
        'extra_config' => array(
            'service_manager' => array(
                'factories' => array(
                    'Zend\Db\Adapter\Adapter' => 'Zend\Db\Adapter\AdapterServiceFactory',
                ),
            ),
            'db' => array(
                'driver'   => 'pdo',
                'dsn'      => 'sqlite:' . __DIR__ . '/data/test.db',
            ),
        ),
    ),
);
